._main_content_wrapper,
._main_window,
._main_window_content,
#map-container,
.leaflet-container {
  width: 100%;
  height: 100%;
  background: black !important;
  font-family: 'RuneScape', serif;
}

* {
  cursor: crosshair !important;


  &:focus {
    outline: none;
  }
}

.location_search_container {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 405;

  input {
    font-family: 'RuneScape', serif;
    font-size: 1.2em;
    border: 2px groove #413d38;
    margin: 0 20px 20px 20px;
    width: 350px;
    padding: 5px;
    background: #41382e;
    color: #7e7e7d;

    cursor: text !important;

    &:focus {
    }
  }

  .sr-only.rbt-sr-status {
    display: none;
  }

  .rbt-menu.dropdown-menu.show {
    margin: 0px 25px;
    background: #41382e;
    width: 354px !important;

    li {
      padding: 5px 10px;
      border-top: 2px groove #413d38;
      border-left: 2px groove #413d38;
      border-right: 2px groove #413d38;

      a {
        color: #7e7e7d;
        text-decoration: none;
      }
    }
  }

  .rbt-aux {
    position: absolute;
    right: -1px;
    bottom: 22px;

    button {
      background-color: #312d29;
      border: none;
      color: white;
      height: 30px;

      .sr-only {
        display: none;
      }
    }
  }
}

.item_icon,
.jewellery {
  background-color: #dcbf8c;
  border-radius: 50px;
  padding: 3px;
  box-sizing: border-box;
  border: 1px solid black;
}

.one_way_end {
  border: 5px solid red;
}


h1 {
  font-size: 1.4em;
}

.panel {
  background-image: url(../img/backdrop_745.gif);
  background-position: top center;
  background-repeat: repeat-y;
  background-size: 95%;
  margin: 40px 20px;

  .content {
    position: relative;
    width: 100%;
    min-height: 300px;
    padding: 40px 0;

    .content_inner {
      padding: 0 20px;
    }

    &:after,
    &:before {
      content: " ";
      width: 100%;
      background-image: url(../img/backdrop_765_top.gif);
      background-size: 100% 100%;
      display: flex;
      height: 50px;
      position: absolute;
    }

    &:before {
      top: -25px;
    }

    &:after {
      bottom: -25px;
    }
  }
}

img:not(.text_icon):not(.jewellery):not(.item_icon):not(.skill_icon) {
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

.dev_tools {
  position: fixed;
  left: 30px;
  top: 30px;
  z-index: 400;
  background-color:black;
  padding:20px 10px;
  text-align:center;
  border:5px groove $secondary-text-color;

  & > b {
    color: $text-color;
    text-shadow: $text-shadow;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 3em;
    background-color: black;
    z-index: 1000;
    text-align: center;
    padding: 30px 0px;
  }
}

.controls_button {
  position: fixed;
  bottom: 60px;
  left: 80px;
  z-index: 400;
  border: none;
  background: url('../../static/ui/blank_button_small.png');
  background-size: 100% 100%;
  width: calc(35px * 1.5);
  height: calc(29px * 1.5);
  font-family: 'RuneScape', serif;
  color: $text-color;
  text-shadow: $text-shadow;

  &:hover {
    filter: brightness(70%);
  }

  & > img{
    max-width:75%;
    max-height:75%;

    display:flex;
    margin:0 auto;
  }
}

@for $i from 0 to 15 {
  .controls_button:nth-of-type(#{$i + 1}) {
    $offset: + ' !important';
    left: 140px + (($i - 2) * 60px);
  }
}

.toggle_filters {
  position: fixed;
  bottom: 60px;
  left: 20px;
  z-index: 400;
  border: none;
  background: url('../../static/ui/toggle_filters_button.webp');
  background-size: 100% 100%;
  width: calc(35px * 1.5);
  height: calc(29px * 1.5);

  &:hover {
    filter: brightness(70%);
  }
}

.map-label {
  text-align: center;
  margin-left: -50%;
  width: 300px !important;
  height: 300px !important;
  align-content: center;
  justify-content: center;
  display: flex !important;
  flex-direction: column;
  pointer-events: none;
  z-index: 400 !important;

  & > p {
    font-family: 'RuneScape', serif;
    color: $text-color;
    text-shadow: $text-shadow;
    line-height: 25px;

  }

  & > p.title {
    font-size: 2.5em;

  }

  & > p.description {
    font-size: 1.5em;

  }
}

.text_icon {
  max-width: 1em;
  max-height: 1em;

}

.quest_popup {

  .skill_icon {
    max-width: 16px;
    height: auto;
  }

  .leaflet-popup-content {
    width: 238px !important;
  }

  h4 {
    color: $text-color;
    text-shadow: $text-shadow;
    font-size: 1.4em;
  }

  table {
    margin: 20px;
    width: 200px;

    thead {
      border-bottom: 1px solid grey;
      background-color: rgba(0, 0, 0, 0.2);
    }

    tbody {
      background-color: rgba(0, 0, 0, 0.1);
    }

  }

  i {
    font-style: italic;
  }

  li.end_of_list {
    color: #444;
  }
}

.anchored_bottom_right{
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  z-index: 500;
}