._main_content_wrapper,
._main_window,
._main_window_content,
#map-container,
.leaflet-container{
  width:100%;
  height:100%;
}

* {
  cursor: crosshair;
}

.leaflet-div-icon{
  background:none !important;
}
