@font-face {
  font-family: 'RuneScape';
  src: url('../fonts/RuneScape-UF.eot');
  src: url('../fonts/RuneScape-UF.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RuneScape-UF.woff2') format('woff2'),
  url('../fonts/RuneScape-UF.woff') format('woff'),
  url('../fonts/RuneScape-UF.ttf') format('truetype'),
  url('../fonts/RuneScape-UF.svg#RuneScape-UF') format('svg');
  font-weight: normal;
  font-style: normal;
}

